html {
    scroll-behavior: smooth;
}

body {
    padding-left: 0;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

.navigation h1 {
    font-size: 2rem;
    font-family: "Teko", sans-serif;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation {
    padding-top: 1rem;
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    padding-left: 10vh;
    padding-right: 10vh;
}

h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 3;
}

.container2 {
    height: 60px;
    width: 100%;
    background-color: black;
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    overflow: hidden;
    transform: translateZ(0);
}

.navigation ul {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    list-style: none;
    display: flex;
    gap: 4rem;
    text-decoration: none;
}

.home pre {
    color: white;
    font-size: 5rem;
    font-weight: 600;
    z-index: 3;
    position: relative;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    overflow: hidden;
}

.spline-viewer-home {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
}

.about {
    font-family: "Montserrat", sans-serif;
    padding-left: 1.5rem;
    padding-right: 3rem;
    padding-top: 13rem;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 3;
    color: white;
}

.about h6 {
    color: grey;
}

#timeline {
    width: 100%;
}

.about h3 {
    padding-top: 4rem;
    text-align: right;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
}

.about h1 {
    font-size: 4rem;
}


.timeline-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}


.right-content {
    position: relative;
    border-left: 3px solid transparent;
    padding-left: 3.25rem;
    width: 100%;
    box-sizing: border-box;
}

.left-content .content {
    text-align: left;
    margin: 150px 0 0;
}

.right-content .content {
    margin: 80px 0 150px;
}

.timeline-container .content {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7 ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.left-content .more-padding {
    padding-right: 0px;
}

.right-content .more-padding {
    padding-left: 100px;
}

#threejs-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}


/* animated progress bar */
.timeline-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.right-content {
    flex: 1;
}


.left-content {
    display: none;
    border-right: 3px solid grey;
    text-align: right;
    flex: 1;
    position: relative;
}

.left-content .right-content {
    min-width: 0;
}

.right-content::after {
    margin-left: 2rem;
    content: '';
    position: absolute;
    width: 3px;
    top: 0;
    left: 0;
    background-color: #00ffc3;
    animation: growBar 4s ease-in-out forwards;
    transform-origin: top;
}


.left-content::after {
    display: none;
    content: '';
    position: absolute;
    width: 3px;
    top: 0;
    left: 0;
    background-color: #00ffc3;
    animation: growBar 4s ease-in-out forwards;
    transform-origin: top;
}

@keyframes growBar {
    0% {
        height: 0%;
    }

    100% {
        height: 80vh;
    }
}

.timeline-container .content {
    transition: all 0.7s ease-in-out;
    position: relative;
}

.timeline-container .left-content .content::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border: 4px solid #00ffc3;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: popIn 4s ease-in-out forwards;
}

.timeline-container .right-content .content::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border: 4px solid #00ffc3;
    border-radius: 50%;
    top: 0;
    right: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: popIn 4s ease-in-out forwards;
}

@keyframes popIn {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.rows {
    padding-bottom: 3rem;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    grid-row-start: auto;
}

#imgWrapper {
    width: 4.2rem;
    margin-right: 3rem;
    margin-bottom: 1.8rem;
}

#card {
    transition: transform .2s
}

#frameworks #card:hover {
    transform: scale(1.5);
}

.intro {
    font-size: 2rem;
    color: grey;
}